*{
    margin: 0;
    padding: 0;
}
.box{
    width: 200px;
    height: 200px;
    float: left;
   background-color: rgb(236, 4, 120);
    margin: 20px;
    border-radius: 50%;

}
.box:nth-child(2){
    background-color: blueviolet;
}
.box:nth-child(3){
    background-color: rgb(43, 226, 98);
}

.box:nth-child(4){
    background-color: rgb(226, 141, 43);
}
.box:nth-child(5){
    background-color: rgb(43, 205, 226);
}
.box:nth-child(6){
    background-color: rgb(226, 43, 223);
}
.box:nth-child(7){
    background-color: rgba(18, 11, 3, 0.366);
}
.box:nth-child(8){
    background-color: rgb(20, 88, 3);
}
.box:nth-child(9){
    background-color: rgba(43, 95, 226, 0.056);
}
